
@page {
    margin: 2cm;
}

nav {
    display: none;
}

body {
    font-family: "Times New Roman", Times, serif;
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
    background: none;
    color: #000;
    background: #fff;
}

figure {
    float:left;
    width: 40%;
    display: block;
    background-color: gray;
}

#wireframe .wireframe figure {
    float:none;
    display: block;
    background-color: gray;
    width:100%;
}

#wireframe .wireframe img {
    clear:both;
    width:100%;

}




a:after {
    content: " (URL: " attr(href) ") ";
    font-size: 90%;
}
