body {
    font-family: 'Noto Sans','Arapey', serif,Arial, Helvetica, sans-serif;
    background: #e1e3e4;
    color: #373c44;
}

#container, .sitemap {
    width: 70%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 15px;*/
    padding: 1em;
    /*box-shadow: 2px 2px 5px #000000;*/
    background-image: url(images/logo_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background: white;
    min-width: 200px;
}
#sitemap #container {
     min-width: 400px;
}

.sitemap {
    padding: 1em 1em;
    margin-left: -1em;
    min-width: 400px;
}

.validator {
    width:20%;
    float:left;
}

hr {
    background-color: #104e8b;
}

footer {
    clear: both;
    color: #ffffff;
    margin: 0;
    font-style: italic;
    background-color: #737d93;
    text-align: center;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    width: 70%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #e1e3e4;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

    header img {
        float: right;
    }

/*for navigation*/
body#home a#indexnav, body#wireframe a#wireframenav, body#protosite a#protositenav, body#rationale a#rationalenav, body#sitemap a#sitemapnav {
    color: #fff;
    background: #7ac5cd;
}

#indexnav:hover, #wireframenav:hover, #protositenav:hover, #rationalenav:hover, #sitemapnav:hover {
    color: #fff;
    background: #7ac5cd;
}

nav {
    background-color: #737d93;
    height: 2%;
    text-align: center;
    font-weight: bold;
    /*padding: .1em,1em,.1em,1em;*/
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 70%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*for changing the navigation based on scroll*/
.hidenav {
    display: none;
}

#secondnav {
    background-color: #808080;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 100000;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    min-height: 45px;
    max-width: none;
}


nav ul li {
    display: inline;
}

nav ul a {
    padding: 1.5em;
    color: #ffffff;
    text-decoration: none;
}

#coolers {
    margin: 0;
    padding: 0;
}

    #coolers ul {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

        #coolers ul li {
            list-style-type: none;
        }

    #coolers figure {
        box-shadow: 2px 2px 5px #000000;
        float: left;
        padding: 0px;
        margin: .5em;
    }


    #coolers img {
        height: auto;
        width: 100%;
    }

    #coolers figcaption {
        text-align: center;
    }

        #coolers figcaption a, .wireframe a {
            color: #000000;
        }

.wireframe figure {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#agenda {
    clear: both;
    margin: 2em auto 2em;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #7ac5cd;
    color: #ffffff;
    font-weight: 600;
    padding: 5px;
    height: 3em;
}

td {
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 15px;
    min-width: 5em;
}

dl {
    padding: 2em;
}

dt {
    font-weight: bold;
    padding-top: 1em;
}


footer {
    padding: 1em;
}

    footer a {
        font-size: .8em;
        padding: 3em;
        color: #7ac5cd;
    }
