
body {
    font-family: Arial,Sans-serif;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

#main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    margin-top: 30px;
    padding-bottom: 150px;
}

article {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: #CCC;
}

/*for Bcit logo on navigation*/
#logo {
    margin-top: 0px;
    padding-top: 0px;
    z-index: 10000;
}

/*-----------------------------------------------------------------------------------------------------------*/
/*------------------------Start CSS for navigation and footer of protosite------------------------------------*/

nav {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    /*border: solid;*/
}

#menu {
    clear: both;
    background-color: #3b414e;
    height: 50px;
}

.listMenu {
    display: inline;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    text-align: left;
}

nav ul li {
    font-size: 0.8em;
    padding-right: 10px;
    padding-top: 15px;
    display: inline;
    margin-right: 40px;
}

.listMenu a {
    color: white;
}

    .listMenu a:hover {
        color: #0885fe;
    }


.listMenu li {
    display: inline;
    list-style: none;
    float: left;
}


    .listMenu li ul {
        position: fixed;
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

        .listMenu li ul li {
            display: block;
            float: none;
            padding: 0;
        }

footer {
    position: fixed;
    height: 46px;
    background-color: rgba(0,0,0,.6);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    display: none;
}

    footer nav {
        width: 800px;
    }

    footer a:link {
        color: white;
    }

/*------------------------End CSS for navigation and footer of protosite------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------Start Index page CSS----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

#bigimg {
    /*border: solid;
    border-color: red;*/
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Arvo', serif;
}

#mainimg {
    z-index: -1;
    width: 100%;
    height: 700px;
    background-image: url('../images/mainimg.jpg');
    padding: 0px;
    margin: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainimgcontent {
    /*border: solid;
    border-color: white;*/
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: absolute;
    top: 30%;
    left: 18%;
}

.moto {
    /*border: solid;
    border-color: white;*/
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
    min-width: 250px;
    text-align: center;
    font-size: 150%;
}

#transparentbtn {
    /*border: solid;
    border-color: white;*/
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    float: left;
    margin-left: 50px;
    min-width: 180px;
    max-width: 250px;
    font-size: 105%;
}

    #transparentbtn a {
        text-decoration: none;
        color: white;
    }

        #transparentbtn a:hover {
            color: #60edbd;
        }
         #transparentbtn #lnk1:hover {
            color: #061779;
        }
          #transparentbtn #lnk2:hover {
            color: #061779;
        }




.btn {
    border: solid 2px;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out 0s;
    margin: 8px;
}

.lnk {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;  
}

.subdiv {
    border: 1px solid;
    background-color: #CCC;
    border-radius: 10px;
    margin: 20px;
}

.subdivleft {
    float: left;
    width: 35%;
    padding: 30px;
}

.subdivright {
    float: right;
    width: 40%;
    padding: 30px;
}

/*----------------------------------------End Index page CSS------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

.clear {
    clear: both;
}

.validator {
    width: 100%;
}
